<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <main>
            {{ content }}
        </main>

        <footer>
            <p>Ruwen Fan &copy; {% assign current_year = 'now' | date: "%Y" %} {{ current_year }} {{ site.author }}</p>
        </footer>
    </div>
</body>
</html>